[General]
# warning, notify, info, verbose
bypass-system = true



[Rule]
# Force some domains which are pollution while resolving DNS
DOMAIN-KEYWORD,google,Proxy
DOMAIN-KEYWORD,facebook,Proxy
DOMAIN-KEYWORD,youtube,Proxy
DOMAIN-KEYWORD,twitter,Proxy
DOMAIN-KEYWORD,instagram,Proxy
DOMAIN-KEYWORD,gmail,Proxy
DOMAIN-KEYWORD,apple,Proxy
DOMAIN-KEYWORD,textnow,Proxy

DOMAIN-SUFFIX,twimg.com,Proxy
DOMAIN-SUFFIX,t.co,Proxy
DOMAIN-SUFFIX,kenengba.com,Proxy
DOMAIN-SUFFIX,akamai.net,Proxy
[Rule]

DOMAIN-SUFFIX,api.texnow.me,Proxy
DOMAIN-SUFFIX,ip-api.com,Proxy
DOMAIN-SUFFIX,event.textnow.me,Proxy
DOMAIN-SUFFIX,collector-pxk56wkc4o.perimeterx.net,Proxy
DOMAIN-SUFFIX,icanhazip.com,Proxy
DOMAIN-SUFFIX,firehose.us-west-2.amazonaws.com,Proxy
DOMAIN-SUFFIX,cognito-identity.us-east-1.amazonaws.com,Proxy
DOMAIN-SUFFIX,googleads.g.doubleclick.net,Proxy
DOMAIN-SUFFIX,mins.vn,Proxy
DOMAIN-SUFFIX,perimeterx.net,Proxy



//GEOIP,CN,DIRECT
FINAL,DIRECT